# Virtual Environment
venv/
.env/

# Python cache
__pycache__/
*.pyc

# MacOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Environment variables
.env

.tflite
.txt


# Test / coverage
.coverage
htmlcov/

# SQLite
*.db

# Logs
*.log

# Flutter
**/flutter/.dart_tool/
**/flutter/.flutter-plugins
**/flutter/.flutter-plugins-dependencies
**/flutter/.packages
**/flutter/build/
phase_1_7/.dart_tool/
phase_1_7/.flutter-plugins
phase_1_7/.flutter-plugins-dependencies
phase_1_7/build/
phase_1_7/.packages
phase_1_7/**/*.g.dart
phase_1_7/**/generated_plugin_registrant.dart

# iOS
phase_1_7/ios/Pods/
phase_1_7/ios/.symlinks/
phase_1_7/ios/Flutter/Flutter.framework
phase_1_7/ios/Flutter/Flutter.podspec

# Android
phase_1_7/android/.gradle/
phase_1_7/android/local.properties
phase_1_7/android/key.properties

phase_2/phase_2_adv3/.dart_tool/
phase_2/phase_2_adv3/.flutter-plugins
phase_2/phase_2_adv3/.flutter-plugins-dependencies
phase_2/phase_2_adv3/build/
phase_2/phase_2_adv3/.packages
phase_2/phase_2_adv3/**/*.g.dart
phase_2/phase_2_adv3/**/generated_plugin_registrant.dart

# iOS
phase_2/phase_2_adv3/ios/Pods/
phase_2/phase_2_adv3/ios/.symlinks/
phase_2/phase_2_adv3/ios/Flutter/Flutter.framework
phase_2/phase_2_adv3/ios/Flutter/Flutter.podspec

# Android
phase_2/phase_2_adv3/android/.gradle/
phase_2/phase_2_adv3/android/local.properties
phase_2/phase_2_adv3/android/key.properties